.slider {}

// Home Slider >>
.homeSlider {

    .slide {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include media-breakpoint-down(md) {
            height: 300px;
        }
    }

    .slick-dots {
        bottom: 20px;
        right: 0;
        left: 0;
        display: inline-block;
        width: auto;
    }

    .sliderImg {
        display: flex;

        img {
            width: 100%;
        }
    }

    .sliderContent {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 200px;
        max-width: 472px;

        @include media-breakpoint-down(md) {
            left: 10%;
            max-width: 100%;
        }

        @include media-breakpoint-down(sm) {
            left: 20px;
            right: 20px;

        }

        h1 {
            font-size: 40px;
            font-weight: 900;
            color: #fff;
            margin-bottom: 5px;
            line-height: 1.2;

            sup {
                font-size: 20px;
                font-weight: 700;
                top: -18px;
            }

            // text-transform: uppercase;

            @include media-breakpoint-down(md) {
                font-size: 26px;

                sup {
                    font-size: 18px;
                    font-weight: 700;
                    top: -10px;
                }
            }
        }

        p {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 10px;
        }

        .btns {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    .sliderImg {
        align-self: flex-end;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
            width: auto;
        }

    }
}

// About >>
.about {

    .aboutArea {
        position: relative;
        border: 1px solid #62BB46;
        padding: 30px;

        .arrow {
            position: absolute;
            left: 0;
            top: 0px;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            background-image: url('../img/bg/arrow.png');
            background-size: contain;
            background-position: center left;
            background-repeat: no-repeat;
        }
    }

    .aboutImg {


        @include media-breakpoint-down(md) {
            text-align: center;
        }

        img {}
    }

    .aboutContent {
        position: relative;

        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            font-weight: 300;
            color: #000;
            margin-bottom: 20px;

            b {
                color: $primary;
                display: block;
            }
        }
    }
}

// Products >>
.products {}

.prodBox {
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;

    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
    }

    .cSoon {
        position: absolute;
        z-index: 2;
        top: 25px;
        right: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: 1px dashed #FFFFFF;
        border-radius: 50%;
        height: 95px;
        width: 95px;
        padding: 15px;
        text-align: center;

        span {
            display: block;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .pImg {
        position: relative;
        width: 100%;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
    }

    .prodDetails {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 40px;
        background: #9d85beb8;
        z-index: 1;
        display: flex;
        color: #fff;

        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;

        .prodBorder {
            border: 1px dashed #fff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
        }

        h4 {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 5px;
            padding-bottom: 20px;
            border-bottom: 1px dashed #fff;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 0px;
        }
    }

    .category {
        position: absolute;
        z-index: 2;
        left: 0px;
        right: 0;
        bottom: 0;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;

        span {
            clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
            height: 35px;
            padding: 0 40px;
            display: flex;
            align-items: center;
            position: absolute;
            left: 30px;
            bottom: 0;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: rgba(0, 0, 0, 0.6);
            z-index: 1;
        }

        &.category-orange {
            span {
                background: $orange;
            }

            &:after {
                background: $orange;
            }
        }

        &.category-purple {
            span {
                background: $purple;
            }

            &:after {
                background: $purple;
            }
        }
    }

    &:hover {
        .pImg {
            transform: scale(1.1);
        }

        .prodDetails {
            opacity: 1;
            visibility: visible;
        }
    }
}


// Key Features >>
.keyFeatures {
    position: relative;
    background-image: url('../img/bg/features-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #001b4ddb;
        z-index: 1;
    }

    .arrow {
        position: absolute;
        left: 0;
        top: 0px;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        background-image: url('../img/bg/arrow-alt.png');
        background-size: contain;
        background-position: center left;
        background-repeat: no-repeat;
    }

    .kfBox {
        position: relative;
        z-index: 4;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        img {
            width: 24px;
            height: auto;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #fff;
        }
    }
}

// Applications >>
.applications {

    .appImg {

        img {
            width: 100%;
        }
    }
}

.appList {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: 15px;

        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }

        li {
            position: relative;
            padding-left: 20px;
            font-size: 15px;
            font-weight: 700;
            transition: all 0.3s ease-in-out;

            &:before {
                content: '\f105';
                font-family: 'Font Awesome 6 Free';
                font-weight: 900;
                font-size: 16px;
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                color: $success;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                color: $success;
                padding-left: 24px;
            }

        }
    }

    &.text-end {
        @include media-breakpoint-up(md) {
            ul {
                align-items: flex-end;

                li {
                    text-align: right;
                    padding-left: 0;
                    padding-right: 20px;

                    &:before {
                        content: '\f104';
                        left: auto;
                        right: 0;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        padding-right: 24px;
                    }
                }
            }
        }
    }
}