// Custom Variables

$blue: #1B3A66;
$indigo: #6610f2;
$purple: #9D85BE;
$pink: #d63384;
$red: #E32729;
$orange: #F47A20;
$yellow: #ffc107;
$green: #62BB46;
$teal: #20c997;
$cyan: #44B3D8;

$secondary: #D2AB67;

$enable-rounded: false;
$link-decoration: none;

$anim-cubic: cubic-bezier(0.4, 0, 0.2, 1);